<div class="container" >

<div *ngIf="porukaZaKorisnika">
    {{porukaZaKorisnika}}
</div>

    <form [formGroup]="transakcija" (ngSubmit)="onSubmit(transakcija)">

        <mat-form-field>
            <input matInput placeholder="Unesite detalje transakcije" type="text" formControlName="detaljiTransakcije">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Unesite kategoriju" type="text" formControlName="kategorija">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Unesite iznos transakcije" type="number" formControlName="iznos">
        </mat-form-field>
 
      
        <button mat-raised-button type="submit">Unesi transakciju</button>
        

    </form>
</div>